
<div style="background-color: yellow; width: 100%; height: 20px">
<div style="float: right">
  <a (click)="changeLanguage(0)" style="margin:5px; cursor: pointer;" >English</a>
  <a (click)="changeLanguage(1)" style="margin:5px; cursor: pointer;" >Turkish</a>
</div>
</div>
<div id="login_form">
  <form name="f1" method="post" action="login.php" id="f1">
    <table>
      <tr>
        <td class="f1_label">{{'User Name' | translate}} :</td>
        <td><input type="text" name="username" value="" [(ngModel)]="loginDto.username" />
      </td>
      </tr>
      <tr>
        <td class="f1_label">{{'Password' |translate}}  :</td>
        <td><input type="password" name="password" value="" [(ngModel)]="loginDto.password"  />
      </td>
      </tr>
      <tr>
        <td>
         <button (click)="formLogin()">{{'Log In' | translate}}</button>
        </td>
      </tr>
    </table>
  </form>
</div>
